<ul id="mainnav">
          <li>
            <a href="/">
              <span> About </span>
            </a>
            </li>

            <li>
                <a href="/research/">
                <span> Research </span>
            </a>
            </li>
            <li>
            <a href="/teaching/">
                <span> Teaching </span>
            </a>
            </li>
            <li>
            <a href="/misc/">
                <span> Misc </span>
            </a>
            </li>
            <li>
            <a href="/blog/">
                <span> Blog </span>
            </a>
            </li>
        </ul>
