---
layout: default
---


<!--{% for post in site.posts limit: 10 %}-->
<!--  <div class="row-fluid"-->
<!--    <div class="span12" -->
      
<!--      <article class="post">-->
<!--        <h5>{{ page.date | date: "%B %e, %Y" }}</h5>-->
<!--        <h2><a href='{{post.url}}'class="external">{{post.title}}</a> </h2>-->
<!--        <h4>{{ post.excerpt }}</h4>-->
<!--          <div id="footer">-->
<!--            <span style="float:left;"><a href='{{post.url}}'><nobr>Read more →</nobr></a></span>-->
<!--          </div>-->
<!--    </div> -->
<!--        </article>  -->
<!--{% endfor %}-->

{% for post in site.posts %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" class="external">{{post.title }}</a>
        </h2>
        {{ post.excerpt }} <!--excerpt added here-->
      
    {% if post.content contains site.excerpt_separator %}
        <div id="footer">
        <span style="float:left;"> <a href="{{ post.url | prepend: site.baseurl }}"><nobr>Read more →</nobr></a></span>
    {% endif %}
        </div>
{% endfor %}
